<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shahndustries</title>
	<link rel="stylesheet" href="/static/shah.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>



<body id="about" class="ab">


	<nav class="navbar navbar-default navbar-inverse">
			<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Home</a>

</div>
<p class="navbar-text navbar-right">  <a href="/report" class="navbar-link">Admin</a></p>

	<p class="navbar-text navbar-right">  <a href="https://www.indiamart.com/shah-industries-silvassa/" class="navbar-link">Order from indiamart</a></p>


	<ul class="nav navbar-nav ">
		<li><a href="contact" >Contact Us</a></li>
		<li><a href="/customerinfo/">Order Now</a></li>
		<li class="disabled"><a href="#">About</a></li>
	</ul>
</div>

</nav>

	</br></br></br></br>
	<div class=" container jumbotron">
		<h2 align="center">Welcome to Shah Industries !!</h2>

		</div>


		<div class="media">
		  <div class="media-left">
		    <a >

	<img src="/static/shahi.png/" width="240" height="320"></div>
<p><h2><i>Shah Industries</i></h2></p>:<p>The company was establish in year 2019 in Vapi-Gujrat.Since then it has marked their territory
	 throughout Maharashtra and states like Gujrat,Banglore,Uttar Pradesh and more.It has a yearly turnover of more that 1 CR and it is
	  increasing the threshold day by day. It supplies everywhere throughout India depending upon customer request. The company is alos
		registered with IndiaMart customers can also place order from there.
</p></br>
</br>
<img class="a" src="/static/rajdeep.png/" width="240" height="320"></br>  <i><p ><h2>Rajdeep Dinesh Shah</h2> </p><p>Shah Industries is owned by Mr.Rajdeep Dinesh Shah.
</i></p>
<p><i>Shah Industries the Plastic sutli company wahich produces high quality all types of plastic sutli	. Mr Shah himself is a commerce graduate and CA Candiate with business minded personality who always work to justify the Company-Customer relationship with a very frank and friendly nature.You can get in touch with team for any concern related to product or dilevery procedure.
for contact details kindly check our Contact Us page.</i>

</p>

</div>

	</div>
	<br>
	<br>
	<div class="jumbotron">


	<div class="container">



</a>

	<img src="/static/mac.jpeg/" width="100%">
</br>
	<img src="/static/mac2.png/" width="100%">


	</div>
		</div>

</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>

 <div style="background-color:#2a4b7c;padding:5px;text-align:center;"></div><h6 align="center">
<br>
	 <p align="center"><p>Call: 9766460050 / E-mail: Rajdeep.shah@gmail.com</p></h6>

<div align="right"><a href="/"><p>Home</p></a></div>
<br>
 <div style="background-color:#2a4b7c;padding:4px;text-align:center;"></div>
</body>
</html>
