<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stocks</title>

	<link rel="stylesheet" href="static/shah.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>


<body style="background-color:#edf1ff; border-right: 30px; border-left: 30px;border-color: #282d3c;">

	<nav class="navbar navbar-default navbar-inverse">
			<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Home</a>

</div>

	<p class="navbar-text navbar-right">  <a href="https://www.indiamart.com/shah-industries-silvassa/" class="navbar-link">Order from indiamart</a></p>


	<ul class="nav navbar-nav ">
		<li><a href="/contact">Contact Us</a></li>
		<li><a href="/customerinfo/">Order Now</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</div>

</nav>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
			<img src="/static/ChaskaMaska.jpg/" style= height="240" width="320">


      <div class="caption">
        <h3>Chaska-Maska</h3>
        <p>High quality plastic sutli products from Shahndustries</p>
        <p><a href="/customerinfo/" class="btn btn-primary" role="button">Order Now</a> </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
			<img src="/static/BlackCobra.jpg/" style= height="240" width="320">



      <div class="caption">
        <h3>Black-Cobra</h3>
        <p>High quality plastic sutli products from Shahndustries</p>
        <p><a href="/customerinfo/" class="btn btn-primary" role="button">Order Now</a> </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

			<img src="/static/MilkiWhite.jpg/" style= height="240" width="320">



      <div class="caption">
        	<h3>Milky-White</h3>
        <p></p>
        <p><a href="/customerinfo/" class="btn btn-primary" role="button">Order Now</a> </p>
      </div>
    </div>
  </div>
</div>





</br></br></br></br>

 <div style="background-color:#2a4b7c;padding:5px;text-align:center;"></div><h6><p align="center">Call: 9766460050 / E-mail: Rajdeep.shah@gmail.com</p></h6>
 <div style="background-color:#2a4b7c;padding:5px;text-align:center;"></div>

</body>
</html>
