<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body id="contact" style=" background-color:#e94b3c;">	<nav class="navbar navbar-default navbar-inverse" >
  			<div class="container">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="/">Home</a>

  </div>

  	<p class="navbar-text navbar-right">  <a href="https://www.indiamart.com/shah-industries-silvassa/" class="navbar-link">Order from indiamart</a></p>


  	<ul class="nav navbar-nav ">
  		<li><a href="contact.html">Contact Us</a></li>
  		<li><a href="about">About</a></li>
      <li><a href="/customerinfo/">Order Now</a></li>


  	</ul>
  </div>

  </nav>
  <br><br>



    <div class="container">
      <div class="jumbotron" id="con" style="background-color: #f1ea7f;">
        <h1>Contact Details</h1><br>
        <h3>Shah Industries
B Nanji Industrial Estate kharadpada silvassa, Silvassa, Dadra and Nagar Haveli and Daman and Diu-396230, Dadra and Nagar Haveli and Daman and Diu, India</h3>
<br><br>
<h4>Phone:9766460050</h4>
<h4>email:RajdeepShah@gmail.com</h4>

      </div>

    </div>
  </body>
</html>
